<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Especialidades</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="header-pag">
        <section class="logo">
            <img src="../static/logos/farmacia.png" alt="logo de la pagina">
            <p> <a href="index.html">Farma-Todo</a></p>
        </section>
        <nav class="navegacion">
            <ul>
                <li><a href="index.html">Inicio</a> </li>
                <li><a href="especialidades.html">Especialidades</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="quienesSomos.html">¿Quienes somos?</a></li>
                <li><a href="contacto.html">Contactanos</a></li>
                <button type="submit"> pedir cita </button>
            </ul>
        </nav>
    </header>
    <main class="somos__cuerpo">
        <section class="somos__section">
            <p class="somos__section--titulo">¿Quienes somos?</p>
            <p class="somos__section--info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum consequuntur quas autem aperiam rerum a veniam. Consequuntur consequatur sit tempore fugit! Ipsam ipsa facilis quis fugit nisi atque dicta hic. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, fugit. Laudantium blanditiis distinctio repellendus cupiditate quam ut nulla voluptates, molestias quis tenetur quisquam delectus sed reprehenderit praesentium ea voluptatem quaerat? Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus tempore officiis autem asperiores reprehenderit accusantium nostrum. Dolorum autem omnis sunt in delectus commodi sit, vel distinctio culpa eaque esse?</p>
        </section>
    </main>
</body>
</html>